.env
venv/
__pycache__/
*.pyc

volumes/
*.crt
*.key
build/certs/ssl/openssl.cnf

startup/files/output/*
!startup/files/output/.keep
startup/variables/*
!startup/variables/.keep

.superpowers/
docs/

*.pcap
*.pdf
