# KAFKA ENV
KAFKA_IMAGE=confluentinc/cp-kafka
KAFKA_IMAGE_TAG=7.8.0
KAFKA_RESTART_POLICY=always
KAFKA_HOSTNAME=kafka
KAFKA_CONTAINER_NAME=kafka
KAFKA_WORKERS_PORT=9092
KAFKA_INTERNAL_PORT=9093
KAFKA_KRAFT_MODE=true
KAFKA_PROCESS_ROLES=controller,broker
KAFKA_NODE_ID=1
KAFKA_CONTROLLER_QUORUM_VOTERS=1@10.0.5.2:9093
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://10.0.5.2:9092
KAFKA_LOG_DIRS=/var/lib/kafka/data
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_LOG_RETENTION_HOURS=168 # 7 days
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
CLUSTER_ID=YmNjYjkwMjUxZGI3OTUxY2Jj  # e.g. Mk3OEYBSD34fcwNTJENDM2Qk
KAFKA_VOLUME=/var/lib/kafka/data


# KAFDROP
KAFDROP_IMAGE=obsidiandynamics/kafdrop
KAFDROP_IMAGE_TAG=4.1.0
KAFDROP_RESTART_POLICY=always
KAFDROP_HOSTNAME=kafdrop
KAFDROP_CONTAINER_NAME=kafdrop
KAFDROP_PORT=9000
KAFKA_BROKERCONNECT=10.0.5.2:9092


# DNS BIND9
BIND9_IMAGE_TAG=9.18
BIND9_IMAGE=internetsystemsconsortium/bind9
BIND9_HOSTNAME=dns
BIND9_CONTAINER_NAME=dns
BIND9_RESTART_POLICY=always
BIND9_PORT_TCP=53
BIND9_PORT_UDP=53
BIND9_PORT_HOST=5454



# PROXY
NGINX_IMAGE_TAG=alpine
NGINX_IMAGE=nginx
NGINX_HOSTNAME=proxy
NGINX_CONTAINER_NAME=proxy
NGINX_RESTART_POLICY=always
NGINX_PORT=80
NGINX_PORT_SSL=443

# WEBSERVER
WEBSERVER_IMAGE_TAG=3.12-slim
WEBSERVER_IMAGE=python
WEBSERVER_HOSTNAME=webserver
WEBSERVER_CONTAINER_NAME=webserver
WEBSERVER_RESTART_POLICY=always
WEBSERVER_PORT=5000
WEBSERVER_HOST=0.0.0.0
WEBSERVER_DEBUG=1

# RYU
SDN_IMAGE_TAG=3.12-slim
SDN_IMAGE=python
SDN_RESTART_POLICY=always
SDN_HOSTNAME=ryu
SDN_CONTAINER_NAME=ryu
SDN_PORT=6633